body {
    height: 100%;
    margin: 0;
    font-family: "Inknut Antiqua";
    font-style: normal;
    font-weight: 400;
    color: #F4F0ED;

  }

  .background__image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }


  .heroSection{
    margin-top: 310px;
    padding: 60px 60px 0 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }



  .heroSection .__star--large{
    position: relative;
    grid-column-start:1 ;
    grid-row-start:1 ;
    top: -40px;
    left: -75px;
  }

  .heroSection .__star--small{
    position: relative;
    grid-column-start:1 ;
    grid-row-start:1 ;
    top: -30px;
    left: -5px;
  }

.heroSection .__title{
    font-size: 65px;
    position: absolute;
    margin: 0;
    grid-column-start:1 ;
    grid-row-start:1 ;
   
} 

.heroSection .__subtitle{
  font-size: 35px;
  margin-top: -20px;
  
}

.heroSection .__line{
  margin-top: -70px;
  width: 465px;
  grid-column-start:1 ;
  grid-row-start:3 ;
}

.portrait{
  margin-left: 20%;
 grid-column-start: 2;
 grid-row:1/8 ;
}


.adjective__slider {
  grid-column-start: 1;
  grid-row:4/8 ;
  position: relative;
  width: 115%; 
  
  height: 400px; 
  margin: 0 auto; 
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; 
}


.adjective {
  position: absolute; 
  opacity: 0; 
  transform: translateX(-150%); 
  animation: flyInFromLeft 1s forwards; 
  z-index: 10; 
}

@keyframes flyInFromLeft {
  0% {
      transform: translateX(-150%); 
      opacity: 0;
  }
  100% {
      transform: translateX(0); 
      opacity: 1;
  }
}

.adjective:nth-child(1) {
  animation-delay: 0.5s;
  transform: translateX(-150%) translateY(0);
  top: -40px;
  left: 10px;
}

.adjective:nth-child(2) {
  animation-delay: 1s;
  transform: translateX(-150%) translateY(50px);
  top: -40px;
  right: 80px;
}

.adjective:nth-child(3) {
  animation-delay: 1.5s;
  transform: translateX(-150%) translateY(100px);
  top: 70px;
}

.adjective:nth-child(4) {
  animation-delay: 2s;
  transform: translateX(-150%) translateY(150px);
  top: 180px;
  right: 0px;
}

.adjective:nth-child(5) {
  animation-delay: 2.5s;
  transform: translateX(-150%) translateY(200px);
  top: 210px;
  left: 0px;
}

.adjective:nth-child(6) {
  animation-delay: 3s;
  transform: translateX(-150%) translateY(250px);
  bottom: -20px;
  right: 270px;
}


.projects .__header{
  color: #313131; 
  margin: -280px 0 -30px 100px;
  font-size: 65px;

}

.projects .__header--image{
  margin-top: 230px;
  width: 100%;
  height: 100%;
}

.header--image2{
  margin-top: 4rem;
  position: absolute;
  width: 100%;
}


.project{
  display: flex;
 flex-direction: column;
  margin: 33px 0 0 100px;
  color: #313131;
  
}

.project__content{
  display: flex;
  gap: 4rem;
}

.project .__title{
  font-size: 40px;
  margin: 0;
}
.project .__title2{
  margin-top: 8rem;
}
.project .__title3{
  margin-top: 8rem;
}

.project .__smiley{
  position: relative;
  top: 20px;
  width: 80px;
}

.project .__info{
  align-self: center;
  font-size: 28px;
  width: 40%;
}

.carousel{
  overflow: hidden;
  position: relative;
  width: 980px;
  }

.carousel2{
  order: 1;
  margin-bottom: 40px;
  
}

.carousel3{
  margin-bottom: 40px;
}

.img__container{
  display: flex;
  transition: transform 0.5s ease-in-out; 
  align-items: center;
}

.img__container img{
  height: 100%;
}

.img__container .item{
 display: grid;
 grid-template-columns: 1fr 1fr;
  }

  .img__container3 .--img{
    width: 980px;
    height: 780px;
  }

.item{
  height: 780px;
}

.item .--gif{
  grid-column: span 2;
  max-width: 980px;
}

.item .--img{
  width: 320px;
    height: 511px;
}
.item .--img2{
  width: 490px;
}

.btn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  background-color:rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.btn-left{
  left: 20px;}

.btn-right{
  right: 20px;}

.btn:hover{
  background-color: rgba(0,0,0,0.5);}

